@import '../../../../assets/scss/variables';

:host {
  position: sticky;
  top: 0;
  display: block;
  margin-top: 23px;
  padding-top: 10px;
  background-color: $white;
  z-index: 4;
}

.header {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    margin: auto;
  }

  &__logo {
    display: flex;
    align-items: center;

    &-icon {
      height: 63px;
      width: 63px;
    }

    &-label {
      margin-left: 8px;
      line-height: 16px;
      font-size: 15px;
      font-weight: 600;
      color: $mine-shaft;
      letter-spacing: -0.04em;

      span {
        color: $shamrock;
      }
    }
  }

  &__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    gap: 35px;
    border-bottom: 1px solid $black;

    &-bar {
      display: flex;
      justify-content: space-between;
      flex-grow: 1;

      &-item {
        position: relative;

        &.__expanded {
          .header__menu-bar-btn-icon {
            transform: translateX(-50%) rotate(180deg);
          }

          .header__menu-children {
            visibility: visible;
          }
        }
      }

      &-btn {
        display: flex;
        align-items: center;
        text-align: center;
        padding: 10px 0;
        line-height: 15px;
        font-size: 12px;
        text-transform: uppercase;
        color: $black;
        font-family: $ffoxygen;
        user-select: none;
        cursor: pointer;

        &:hover {
          color: $boulder;
        }

        &-icon {
          position: absolute;
          left: 50%;
          bottom: 0;
          transform: translateX(-50%);
          font-size: 9px;
          color: $boulder;
          transition: transform $duration-fast ease-in-out;
        }
      }
    }

    &-children {
      position: absolute;
      top: 50px;
      left: 50%;
      transform: translateX(-50%);
      max-width: 300px;
      min-width: 156px;
      padding: 9px 15px;
      background-color: $cararra;
      cursor: default;
      visibility: hidden;
      box-sizing: border-box;
      z-index: 4;

      &-block {
        padding-left: 10px;
        border-left: 1px solid $french-gray;
        text-transform: uppercase;

        p {
          width: 100%;
          margin-bottom: 5px;
          font-size: 12px;
          line-height: 18px;
          letter-spacing: -0.03em;
          text-transform: uppercase;
          color: $mine-shaft;
          cursor: pointer;

          &:last-child {
            margin-bottom: 0;
          }

          &:hover {
            color: $boulder;
          }
        }
      }
    }

    &-touch {
      height: 26px;
      width: 112px;
      background: linear-gradient(60deg, $cornflower-blue 55%, $white 55%) left;
      background-size: 240%;
      color: $white;
      font-weight: 700;
      font-size: 10px;
      line-height: 13px;
      letter-spacing: .01em;
      border: none;
      border-radius: 30px;
      box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
      cursor: pointer;
      transition: $duration-default ease-in-out;
    }
  }

  &__hamburger {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    padding: 10px;
    font-size: 18px;
    color: $mine-shaft;
    cursor: pointer;

    &:hover {
      color: $boulder;
    }
  }

  &__mobile-block {
    position: fixed;
    inset: 0 0 0 0;
    pointer-events: none;

    &.__opened {
      pointer-events: initial;

      .header__mobile-overlay {
        display: block;
      }

      .header__mobile-menu {
        transform: translateX(22px);
      }
    }
  }

  &__mobile-overlay {
    position: absolute;
    inset: 0 0 0 0;
    display: none;
    background-color: rgba(57, 56, 56, .57);
  }

  &__mobile-menu {
    position: relative;
    max-width: 302px;
    transform: translateX(-100%);
    margin-top: 112px;
    padding: 77px 0 53px;
    background-color: $cararra;
    transition: transform $duration-fast ease-in-out;

    &-item {
      &.__expanded {
        .header__mobile-menu-icon {
          transform: rotate(180deg);
        }

        .header__mobile-menu-children-wrapper {
          max-height: 700px;
          overflow: initial;
        }
      }

      &:not(:last-child) .header__mobile-menu-label {
        border-bottom: 1px solid $french-gray;
      }
    }

    &-label {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: 300;
      font-size: 16px;
      line-height: 24px;
      padding: 12px 42px 12px 31px;
      text-transform: uppercase;
      color: $mine-shaft;
      cursor: pointer;

      &:hover {
        color: $boulder;
      }
    }

    &-icon {
      font-size: 11px;
      color: $boulder;
      transform: rotate(0);
      transition: transform $duration-fast ease-in-out;
    }

    &-children-wrapper {
      max-height: 0;
      overflow: hidden;
      transition: max-height $duration-fast ease-in-out;
    }

    &-children {
      padding: 18px 42px 18px 31px;
      border-bottom: 1px solid $french-gray;

      &-item {
        padding: 8px 15px;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: -0.03em;
        text-transform: uppercase;
        border-left: 1px solid $french-gray;
        color: $mine-shaft;
        cursor: pointer;

        &:first-child {
          padding-top: 15px;
        }

        &:last-child {
          padding-bottom: 15px;
        }

        &:hover {
          color: $boulder;
        }
      }
    }
  }

  &__mobile-long-arrow {
    position: absolute;
    top: 50px;
    left: -18px;
  }
}

@media (hover: hover) {
  .header__menu-touch:hover {
    background-position: right;
    color: $cornflower-blue;
    border: 1px solid $cornflower-blue;
    box-shadow: none;
  }
}

@media only screen and (min-width: $bp-lg) and (max-width: $bp-xxl) {
  .header__wrapper {
    max-width: 960px;
  }
}

@media only screen and (min-width: $bp-md) and (max-width: $bp-lg) {
  .header__wrapper {
    margin: 0 24px;
  }
}

@media only screen and (max-width: $bp-md) {
  .header {
    &__wrapper {
      width: calc(100% - 100px);
      margin: 0 20px 0 auto;
      padding-bottom: 7px;
      border-bottom: 1px solid $black;
    }

    &__menu {
      width: auto;
      border-bottom: none;
    }

    &__logo-icon {
      height: 54px;
      width: 54px;
    }
  }
}

@media only screen and (max-width: $bp-sm) {
  .header {
    &__logo-icon {
      height: 44px;
      width: 44px;
    }
  }
}
