<header class="header__wrapper">

  <i class="icon-hamburger header__hamburger" *ngIf="isMobileView" (click)="setMobileMenuState(true)"></i>

  <div class="header__logo">
    <img src="../../../assets/img/logo.png" width="63" height="63" class="header__logo-icon" alt="Logo">
    <h1 class="header__logo-label">White <span>Box</span><br>Group</h1>
  </div>

  <div class="header__menu">
    <nav class="header__menu-bar" *ngIf="!isMobileView">
      <div class="header__menu-bar-item"
           *ngFor="let item of menuItems; trackBy: trackByFn"
           [ngClass]="{'__expanded': item.expanded}">
        <div [attr.data-menu-id]="item.id" class="header__menu-bar-btn" (click)="selectMenuItem(item)">
          <span>{{item.label}}</span>
          <i *ngIf="item.children?.length" class="icon-arrow-down header__menu-bar-btn-icon"></i>
        </div>
        <div *ngIf="item.children?.length && item.expanded"
             class="header__menu-children"
             wbOutsideClick
             (outsideClick)="closeChildrenMenu($event, item)">
          <div class="header__menu-children-block">
            <p *ngFor="let child of item.children"
               (click)="selectChildMenuItem(item, child.id)">
              {{child.label}}
            </p>
          </div>
        </div>
      </div>
    </nav>
    <button type="button" class="header__menu-touch" (click)="scrollToBlock(menuIds.GetInTouch)">Get in Touch</button>
  </div>

  <div class="header__mobile-block"
       *ngIf="isMobileView"
       [ngClass]="{'__opened': isMobileMenuOpened}">
    <div class="header__mobile-overlay" (click)="setMobileMenuState(false)"></div>
    <nav class="header__mobile-menu">
      <img src="../../../../assets/img/long-arrow-right.png" width="76" height="6" class="header__mobile-long-arrow" alt="Long arrow">
      <div class="header__mobile-menu-item"
           *ngFor="let item of menuItems; trackBy: trackByFn"
           [ngClass]="{'__expanded': item.expanded}">
        <p class="header__mobile-menu-label" (click)="selectMenuItem(item)">
          <span>{{item.label}}</span>
          <i *ngIf="item.children?.length" class="icon-arrow-down header__mobile-menu-icon"></i>
        </p>
        <div class="header__mobile-menu-children-wrapper">
          <div class="header__mobile-menu-children">
            <p class="header__mobile-menu-children-item"
               *ngFor="let child of item.children"
               (click)="selectChildMenuItem(item, child.id)">
              {{child.label}}
            </p>
          </div>
        </div>
      </div>
    </nav>
  </div>

</header>
