.toast-container .ngx-toastr {
  height: 120px;
  width: 580px;
  padding: 10px 40px;
  background-image: none;
  background-color: rgba(255, 255, 255, .6);
  color: $river-bed;
  backdrop-filter: blur(6.5px);
  border-radius: 10px;
  cursor: default !important;

  .toast-message {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }

  .toast-icon-block {
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: 40px;
    padding-right: 40px;

    i {
      font-size: 70px;
    }
  }

  .toast-message-text {
    flex-grow: 1;
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.03em;

    span {
      font-size: 20px;
      line-height: 27px;
    }
  }

  .toast-close-icon {
    margin-left: 10px;
    font-family: $ffcomfortaa;
    font-weight: 300;
    color: $boulder;
    font-size: 32px;
    line-height: 36px;
    transition: $duration-fast ease-in-out;
    cursor: pointer;

    &:hover {
      color: rgba($boulder, .7);
    }
  }

  &.toast-error {
    box-shadow: 1px 3px 11px 3px rgba(185, 37, 16, .25);

    .toast-icon-block {
      border-right: 1px solid $burnt-sienna;
      color: $burnt-sienna;
    }
  }

  &.toast-success {
    box-shadow: 1px 3px 11px 3px rgba(17, 157, 56, .16);

    .toast-icon-block {
      border-right: 1px solid $pastel-green;
      color: $emerald;
    }
  }
}

@media only screen and (max-width: $bp-md) {
  .toast-container .ngx-toastr {
    height: 70px;
    width: 330px;
    padding: 10px 25px;

    .toast-icon-block {
      margin-right: 15px;
      padding-right: 25px;

      i {
        font-size: 35px;
      }
    }

    .toast-message-text {
      font-size: 15px;
      line-height: 20px;

      span {
        font-size: 12px;
        line-height: 16px;
      }
    }

    .toast-close-icon {
      font-size: 25px;
    }
  }
}

@media only screen and (max-width: 350px) {
  .toast-container .ngx-toastr {
    height: 60px;
    width: 230px;
    padding: 5px 10px;

    .toast-icon-block {
      margin-right: 10px;
      padding-right: 10px;

      i {
        font-size: 25px;
      }
    }

    .toast-message-text {
      font-size: 12px;
      line-height: 16px;

      span {
        font-size: 10px;
        line-height: 12px;
      }
    }

    .toast-close-icon {
      font-size: 20px;
    }
  }
}
