// breakpoints
$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;

// fonts
$ffpoppins: "Poppins";
$ffoxygen: "Oxygen";
$font-size: 24px;

// colors
$black: #000000;
$cornflower-blue: #538ee5;
$mine-shaft: #373333;
$river-bed: #465163;
$shamrock: #36df7a;
$white: #ffffff;
