// breakpoints
$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;
$bp-xxl: 1450px;

// fonts
$ffpoppins: "Poppins";
$ffoxygen: "Oxygen";
$font-size: 24px;

// colors
$alto: #dedede;
$black: #000000;
$blue-bayoux: #4b667e;
$boulder: #777777;
$burnt-sienna: #e4714d;
$cararra: #efeeeb;
$cornflower-blue: #538ee5;
$danube: #7298d0;
$denim: #1d63cd;
$dodger-blue: #5497ff;
$emerald: #4ecb71;
$eucalyptus: #229b61;
$french-gray: #c4c4c4;
$gallery: #f0f0f0;
$goblin: #3e7e3d;
$hawkes-blue: #ddeafd;
$link-water: #e8effa;
$mine-shaft: #373333;
$onahau: #d1e9ff;
$pastel-green: #6be668;
$polo-blue: #83a1ce;
$river-bed: #465163;
$shamrock: #36df7a;
$silver-chalice: #a2a2a2;
$spindle: #aac4ec;
$spring-rain: #aacea4;
$surf-crest: #d5e9d4;
$white: #ffffff;

// transition duration
$duration-fast: .2s;
$duration-default: .4s;
$duration-slow: .6s;
