// breakpoints
$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;
$bp-xxl: 1450px;

// fonts
$ffpoppins: "Poppins";
$ffoxygen: "Oxygen";
$font-size: 24px;

// colors
$black: #000000;
$boulder: #777777;
$cararra: #efeeeb;
$cornflower-blue: #538ee5;
$french-gray: #c4c4c4;
$hawkes-blue: #ddeafd;
$mine-shaft: #373333;
$pastel-green: #6be668;
$river-bed: #465163;
$shamrock: #36df7a;
$spindle: #aac4ec;
$white: #ffffff;

// transition duration
$duration-fast: .2s;
$duration-default: .4s;
$duration-slow: .6s;
