@import "carousel";
@import "icons";
@import "line";
@import "mixins";
@import "text";
@import "toast";
@import "variables";

body {
  background-color: $white;
  color: $river-bed;
  font-family: $ffpoppins;
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

* {
  margin: 0;
}

@include add-font("Poppins", "poppins", "Poppins-ExtraLight", "normal", 200);
@include add-font("Poppins", "poppins", "Poppins-Light", "normal", 300);
@include add-font("Poppins", "poppins", "Poppins-Regular", "normal", 400);
@include add-font("Poppins", "poppins", "Poppins-Medium", "normal", 500);
@include add-font("Poppins", "poppins", "Poppins-SemiBold", "normal", 600);
@include add-font("Poppins", "poppins", "Poppins-Bold", "normal", 700);

@include add-font("Oxygen", "oxygen", "Oxygen-Regular", "normal", 400);
@include add-font("Oxygen", "oxygen", "Oxygen-Bold", "normal", 700);

@include add-font("Comfortaa", "comfortaa", "Comfortaa-Light", "normal", 300);
