@import "carousel";
@import "icons";
@import "mixins";
@import "variables";

body {
  min-width: 100%;
  min-height: 100%;
  background-color: $white;
  color: $river-bed;
  font-family: $ffpoppins;
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
  overflow-y: auto;
}

* {
  margin: 0;
}

@include add-font("Poppins", "poppins", "Poppins-Regular", "normal", 400);
@include add-font("Poppins", "poppins", "Poppins-Medium", "normal", 500);
@include add-font("Poppins", "poppins", "Poppins-SemiBold", "normal", 600);
@include add-font("Poppins", "poppins", "Poppins-Bold", "normal", 700);

@include add-font("Oxygen", "oxygen", "Oxygen-Regular", "normal", 400);
@include add-font("Oxygen", "oxygen", "Oxygen-Bold", "normal", 700);
