<div class="landing__wrapper">
  <wb-home></wb-home>
  <wb-our-services></wb-our-services>
  <wb-why-work></wb-why-work>
  <wb-management></wb-management>
  <wb-cases></wb-cases>
</div>
<div class="landing__sector">
  <div class="landing__sector-text">
    <p>UKRAINIAN IT SECTOR HAS BECOME ONE OF THE MAIN PLAYERS EXPORTING SERVICES OVER THE PAST FEW YEARS.</p>
    <br>
    <p>WE’RE HERE TO DELIVER YOU THE BEST SERVICE BROUGHT BY IT PROFESSIONALS FROM THE DINAMICALLY DEVELOPTING UKRAINIAN IT MARKET!</p>
  </div>
</div>
<div class="landing__wrapper">
  <wb-contact></wb-contact>
</div>
<wb-footer></wb-footer>
