<main class="home__main">
  <img src="../../../assets/img/main-screen.png" width="1266" height="662" class="home__main-img" alt="Main image">
  <div class="home__main-symbol">
    <div class="home__main-symbol-wrapper">
      <p class="home__main-symbol-char">W</p>
      <div class="home__main-symbol-layer"></div>
    </div>
  </div>
  <h2 class="home__main-phrase" wbAnimate>
    <p>We provide reliable IT</p>
    <p>services from Ukraine</p>
  </h2>
  <div class="home__main-description">
    <p wbAnimate>- You get professionally managed and easily scalable IT resource from Ukraine that can cover your needs in corporate, government, or business requisitions.</p>
  </div>
  <button type="button"
          class="home__main-btn"
          wbAnimate
          (click)="scrollToServicesBlock()">
    Learn more
  </button>
  <img src="../../../assets/img/main-screen-tablet.png" width="590" height="413" class="home__main-img-tablet" alt="Main tablet image">
  <img src="../../../assets/img/main-screen-mobile.png" width="352" height="356" class="home__main-img-mobile" alt="Main mobile image">
</main>
