@import '../../../assets/scss/variables';

:host {
  display: block;
  padding-top: 33px;
}

.header {

  &__wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__logo {
    display: flex;
    align-items: center;

    &-icon {
      height: 63px;
      width: 63px;
    }

    &-label {
      margin-left: 8px;
      line-height: 16px;
      font-size: 15px;
      font-weight: 600;
      color: $mine-shaft;
      letter-spacing: -0.04em;

      span {
        color: $shamrock;
      }
    }
  }

  &__menu {
    display: flex;
    align-items: center;
    border-bottom: 1px solid $black;

    &-touch {
      height: 26px;
      width: 112px;
      background-color: $cornflower-blue;
      color: $white;
      font-weight: 700;
      font-size: 10px;
      line-height: 13px;
      letter-spacing: .01em;
      border: none;
      border-radius: 30px;
      box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
      cursor: pointer;
    }
  }
}
