@import '../../../assets/scss/variables';

:host {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
  padding: 100px 0;
}

.contact {

  &__form {

    .contact__title {
      text-align: center;
    }

    form {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    input {
      padding: 0 26px;
      line-height: 16px;
      border: 2px solid $danube;
      border-radius: 30px;
      font-family: $ffpoppins;
      font-size: 14px;
      font-weight: 300;

      &::placeholder {
        font-size: 11px;
        font-weight: 300;
        font-family: $ffpoppins;
        color: $silver-chalice;
      }
    }

    &-name {
      height: 30px;
      margin-bottom: 23px;
    }

    &-email {
      height: 30px;
      margin-bottom: 13px;
    }

    &-message {
      height: 52px;
    }
  }

  &__send-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }

  &__send-btn {
    height: 35px;
    width: 186px;
    background: linear-gradient(60deg, $pastel-green 55%, $white 55%) left;
    background-size: 240%;
    color: $white;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
    border: none;
    border-radius: 30px;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: .01em;
    transition: $duration-default ease-in-out;
    cursor: pointer;

    &:hover {
      background-position: right;
      color: $pastel-green;
      border: 1px solid $pastel-green;
    }

    &:active {
      background-position: left;
      color: $white;
      border: none;
      box-shadow: none;
      transition: $duration-fast ease-in-out;
    }

    &.__disabled {
      background: $surf-crest;
      pointer-events: none;
    }
  }

  &__info {

    &-phone,
    &-mail {
      display: flex;
      align-items: center;

      img {
        margin-right: 9px;
      }
    }

    &-phone {
      margin-bottom: 30px;

      i {
        color: rgba(29, 219, 82, .58);
      }
    }

    &-mail {
      margin-bottom: 28px;

      i {
        color: $onahau;
      }
    }

    a {
      font-size: 20px;
      font-weight: 300;
      line-height: 30px;
      text-decoration: none;
      letter-spacing: -0.03em;
      word-break: break-word;
      color: $river-bed;
      transition: $duration-fast ease-in-out;

      &:visited {
        color: $river-bed;
      }

      &:hover {
        color: $boulder;
      }
    }
  }

  &__icon-block {
    width: 40px;
  }

  &__title {
    margin-bottom: 30px;
    font-size: 40px;
    font-weight: 300;
    line-height: 60px;
    letter-spacing: -0.03em;
    color: $denim;
  }
}
