@import '../../../assets/scss/variables';

:host {
  display: block;
  width: 100%;
  margin-top: 178px;

  @media only screen and (max-width: $bp-md) {
    margin-top: 100px;
  }
}

.management {

  &__title {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;

    &-line {
      flex-grow: 1;
      height: 1px;
      background-color: $black;
      border-width: 0;
    }

    &-label {
      position: relative;
      width: fit-content;
      font-size: 64px;
      font-weight: 300;
      background-color: $white;
      color: $mine-shaft;
      z-index: 3;

      &::after {
        content: '';
        position: absolute;
        inset: 0 -25px 0 auto;
        width: 25px;
        background-color: $white;
      }
    }

    &-symbol {
      position: absolute;
      top: 50%;
      right: -100px;
      transform: translateY(-50%);
      font-size: 400px;
      color: $hawkes-blue;
      z-index: 2;
    }
  }

  &__description {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 300;
    line-height: 60px;
    letter-spacing: -0.03em;
    color: rgba(70, 81, 99, .6);
    z-index: 3;
  }

  &__team {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 8px;
    width: 100%;
    margin-top: 70px;
    z-index: 3;

    &-member {
      cursor: pointer;

      &.__active .management__team-member-name {
        background: rgba(83, 175, 81, .35);
      }

      &:nth-child(2) .management__team-member-graph {
        transform: translateX(calc(-1 * (25% + 2px)));
      }

      &:nth-child(3) .management__team-member-graph {
        transform: translateX(calc(-1 * (50% + 4px)));
      }

      &:last-child .management__team-member-graph {
        transform: translateX(calc(-1 * (75% + 6px)));
      }

      &-photo {
        width: 100%;
      }

      &-name {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 60px;
        margin-top: -4px;
        background: linear-gradient(360deg, $alto 0%, $white 100%);
        font-size: 24px;
        line-height: 36px;
        letter-spacing: -0.03em;
        transition: $duration-fast ease-in-out;

        span {
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
      }

      &-graph {
        max-height: 0;
        width: calc(400% + 24px);
        background-color: $cararra;
        overflow: hidden;

        &.__visible {
          max-height: 700px;
        }
      }
    }
  }
}

@media (hover: hover) {
  .management__team-member:hover .management__team-member-name {
    background: rgba(83, 175, 81, .35);
  }
}

@media only screen and (max-width: $bp-xl) {
  .management {
    &__title {
      &-label {
        font-size: 50px;
        margin-right: 70px;
      }

      &-symbol {
        right: -13px;
        font-size: 300px;
      }
    }

    &__description {
      font-size: 32px;
    }

    &__team-member-name {
      height: 55px;
      font-size: 20px;
      line-height: 30px;
    }
  }
}

@media only screen and (max-width: $bp-md) {
  .management {
    &__title {
      flex-direction: column-reverse;
      align-items: flex-start;
      gap: 0;

      &-label {
        width: calc(100% - 35px);
        margin-right: 0;
        padding-bottom: 6px;
        text-align: right;
        font-size: 40px;
      }

      &-line {
        position: relative;
        top: -1px;
        width: calc(100% - 35px);
        z-index: 4;
      }

      &-symbol {
        right: -43px;
      }
    }

    &__description {
      margin-top: 35px;
    }

    &__team {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      margin-top: 40px;

      &-member {
        &:nth-child(odd) .management__team-member-graph {
          transform: translateX(0);
        }

        &:nth-child(even) .management__team-member-graph {
          transform: translateX(calc(-1 * (50% + 4px)));
        }

        &-graph {
          width: calc(200% + 8px);
        }
      }
    }
  }
}

@media only screen and (max-width: $bp-sm) {
  .management {
    &__title {
      &-label {
        padding-right: 10px;
        padding-bottom: 5px;
        font-size: 32px;
        font-weight: 400;

        &::after {
          display: none;
        }
      }

      &-symbol {
        right: -14px;
        font-size: 200px;
      }
    }

    &__description {
      font-size: 20px;
      font-weight: 400;
      line-height: 30px;
    }

    &__team-member-name {
      height: 40px;
      font-size: 16px;
      line-height: 24px;
    }
  }
}
