<div class="management__title">
  <hr class="line" wbAnimate>
  <h2 class="block-title" wbAnimate>Management</h2>
  <p class="management__title-symbol" [id]="menuIds.Management">M</p>
</div>
<p class="management__description" wbAnimate>Meet Our Amazing Team</p>
<div class="management__team">
  <div class="management__team-member"
       *ngFor="let item of team"
       wbAnimate>
    <img class="management__team-member-photo" width="400" height="400" [src]="item.photoUrl" [alt]="item.name + 'photo'">
    <p class="management__team-member-name">
      <span>{{item.name}}</span>
    </p>
  </div>
</div>
