<div class="management__title">
  <hr class="line" wbAnimate>
  <p class="block-title" wbAnimate>Management</p>
  <p class="management__title-symbol" [id]="menuIds.Management">M</p>
</div>
<p class="management__description" wbAnimate>Meet Our Amazing Team</p>
<div class="management__team">
  <div class="management__team-member"
       *ngFor="let item of team"
       [ngClass]="{'__active': item.selected}"
       wbAnimate
       (click)="selectTeamMember(item)">
    <img class="management__team-member-photo" width="400" height="400" [src]="item.photoUrl" alt="Team Member Photo">
    <p class="management__team-member-name">
      <span>{{item.name}}</span>
    </p>
    <div class="management__team-member-graph" [ngClass]="{'__visible': item.selected}">{{item.data}}</div>
  </div>
</div>
