@import '../../../assets/scss/variables';

:host {
  display: block;
  width: 100%;
  margin-top: 178px;
}

.management {

  &__title {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;

    &-line {
      flex-grow: 1;
      height: 1px;
      background-color: $black;
      border-width: 0;
    }

    &-label {
      position: relative;
      width: fit-content;
      font-size: 64px;
      background-color: $white;
      color: $mine-shaft;
      z-index: 3;

      &::after {
        content: '';
        position: absolute;
        inset: 0 -25px 0 auto;
        width: 25px;
        background-color: $white;
      }
    }

    &-symbol {
      position: absolute;
      top: 50%;
      right: -100px;
      transform: translateY(-50%);
      font-size: 400px;
      color: $hawkes-blue;
      z-index: 2;
    }
  }

  &__description {
    position: relative;
    text-align: center;
    font-size: 40px;
    line-height: 60px;
    letter-spacing: -0.03em;
    color: rgba(70, 81, 99, .6);
    z-index: 3;
  }

  &__team {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
    width: 100%;
    margin-top: 70px;

    &-member {
      cursor: pointer;

      &:hover .management__team-member-name {
        background: rgba(83, 175, 81, .35);
      }

      &.__active {
        margin-bottom: 400px;
        .management__team-member-name {
          background: rgba(83, 175, 81, .35);
        }
      }

      &-photo {
        width: 100%;
      }

      &-name {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 60px;
        margin-top: -4px;
        background: linear-gradient(360deg, $alto 0%, $white 100%);
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        letter-spacing: -0.03em;
        transition: $duration-fast ease-in-out;
      }

      &-graph {
        position: absolute;
        left: 0;
        right: 0;
        height: 400px;
        background-color: #eeeeee;
      }
    }
  }
}

@media only screen and (max-width: $bp-xl) {
  .management {
    &__title {
      &-label {
        font-size: 50px;
        margin-right: 70px;
      }

      &-symbol {
        right: -13px;
        font-size: 300px;
      }
    }

    &__description {
      font-size: 32px;
    }

    &__team-member-name {
      height: 55px;
      font-size: 20px;
      line-height: 30px;
    }
  }
}
