@import '../../../assets/scss/variables';

:host {
  display: block;
  width: 100%;
  padding-top: 200px;
}

.our-services {

  &__title {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-line {
      flex-grow: 1;
      height: 1px;
      margin-right: 15px;
      background-color: $black;
      border-width: 0;
    }

    &-label {
      width: fit-content;
      font-size: 64px;
      background-color: $white;
      color: $mine-shaft;
      z-index: 3;
    }

    &-symbol {
      position: absolute;
      top: 50%;
      right: -100px;
      transform: translateY(-50%);
      font-size: 400px;
      color: $hawkes-blue;
      z-index: 2;
    }
  }

  &__description {
    position: relative;
    text-align: center;
    margin-top: 20px;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.03em;
    z-index: 3;
  }

  &__subtitle {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;

    &.__domains {
      margin: 150px 0 54px;

      .our-services__subtitle-symbol {
        position: absolute;
        top: -130px;
        left: -100px;
        font-size: 400px;
        color: rgba(132, 222, 130, .25);
        z-index: 2;
      }
    }

    &.__technologies {
      margin: 164px 0 54px;

      .our-services__subtitle-symbol {
        position: absolute;
        top: -160px;
        right: -67px;
        font-size: 400px;
        color: $hawkes-blue;
        z-index: 2;
      }
    }

    &-line {
      flex-grow: 1;
      height: 1px;
      background-color: $black;
      border-width: 0;
    }

    &-label {
      width: fit-content;
      font-size: 40px;
      background-color: $white;
      color: $mine-shaft;
      z-index: 3;
    }

  }

  &__domains {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    column-gap: 8px;
    row-gap: 9px;

    &-item {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 300px;
      background: linear-gradient(167.03deg, $white 3.16%, #e8effa 90.63%) padding-box,
                  linear-gradient(211.73deg, $blue-bayoux -4.07%, rgba(240, 240, 240, 0) 119.53%) border-box;
      color: $dodger-blue;
      border-radius: 16px;
      border: 1px solid transparent;
      font-size: 40px;
      letter-spacing: -0.03em;
      transition: $duration-fast ease-in-out;

      &:hover {
        box-shadow: 5px 3px 10px 4px rgba(124, 133, 148, .21);
      }
    }
  }

  &__technologies {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    gap: 8px;
    z-index: 3;

    &-item {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 94px;
      font-family: $ffoxygen;
      font-weight: 700;
      font-size: 32px;
      line-height: 40px;
      letter-spacing: .05em;
      background: linear-gradient(360deg, $alto 0%, $white 100%);
      color: $mine-shaft;
      transition: $duration-fast ease-in-out;

      &:hover {
        box-shadow: 5px 3px 10px 4px rgba(124, 133, 148, .21);
      }
    }
  }
}

@media only screen and (max-width: $bp-xl) {
  .our-services {
    &__title {
      &-label {
        font-size: 50px;
        margin-right: 70px;
      }

      &-symbol {
        right: -13px;
        font-size: 300px;
      }
    }

    &__subtitle {
      &.__domains {
        .our-services__subtitle-label {
          margin-left: 35px;
        }

        .our-services__subtitle-symbol {
          top: -100px;
          left: -23px;
          font-size: 300px;
        }
      }

      &.__technologies {
        .our-services__subtitle-label {
          margin-right: 35px;
        }

        .our-services__subtitle-symbol {
          top: -130px;
          right: -11px;
          font-size: 300px;
        }
      }
    }

    &__description {
      font-size: 19px;
    }

  }
}

@media only screen and (max-width: $bp-lg) {
  .our-services {
    &__title-label {
      font-size: 40px;
    }

    &__subtitle-label {
      font-size: 35px;
    }

    &__description {
      font-size: 18px;
    }

    &__technologies {
      grid-template-columns: 1fr 1fr;
    }
  }
}
