<div class="our-services__title">
  <hr class="our-services__title-line">
  <p class="our-services__title-label">Our services</p>
  <p class="our-services__title-symbol">O</p>
</div>
<p class="our-services__description">We provide software development, outsourcing and DevOps services of the highest quality.</p>
<div class="our-services__subtitle">
  <p class="our-services__subtitle-label">Domains</p>
  <hr class="our-services__subtitle-line">
  <p class="our-services__subtitle-symbol">D</p>
</div>
<div class="our-services__domains">
  <div class="our-services__domains-item" *ngFor="let domain of domains">{{domain}}</div>
</div>
