<div class="our-services__title">
  <hr class="line">
  <p class="block-title">Our services</p>
  <p class="our-services__title-symbol" [id]="menuIds.Services">O</p>
</div>
<p class="our-services__description">We provide software development, outsourcing and DevOps services of the highest quality.</p>
<div class="our-services__subtitle __domains">
  <p class="block-subtitle">Domains</p>
  <hr class="line">
  <p class="our-services__subtitle-symbol">D</p>
</div>
<div class="our-services__domains">
  <div class="our-services__domains-item" *ngFor="let domain of domains">
    <span>{{domain}}</span>
  </div>
</div>
<div class="our-services__subtitle __technologies">
  <hr class="line">
  <p class="block-subtitle">Technologies</p>
  <p class="our-services__subtitle-symbol">T</p>
</div>
<div class="our-services__technologies">
  <div class="our-services__technologies-item" *ngFor="let technology of technologies">{{technology}}</div>
</div>
<div class="our-services__skills">
  <p class="our-services__skills-label">Partnering with WhiteBox, you get more than 2000 highly-skilled professionals working on your projects of any complexity</p>
  <div class="our-services__skills-wrapper">
    <div class="our-services__skills-item">100+ companies from the Fortune list partner with Ukrainian IT sector. You can entrust us your endeavors for a win-win cooperation.</div>
    <div class="our-services__skills-item">Ukraine is 11th among 50 countries with the best IT developers in the world (HackerRank).</div>
    <div class="our-services__skills-item">Our programmers occupy 6th place in the TopCoder standings of the top world programmers.</div>
    <div class="our-services__skills-item __summary">
      <div>
        UKRAINIAN IT<br>GRADUATES<br>ANNUALLY
        <p class="our-services__skills-item-number">16 000</p>
      </div>
    </div>
  </div>
</div>
