@import '../../../../assets/scss/variables';

:host {
  display: block;
  padding: 31px 0 62px;
  background-color: $gallery;

  @media only screen and (max-width: $bp-md) {
    padding: 27px 0 15px;
  }

  @media only screen and (max-width: $bp-sm) {
    padding: 15px 0 13px;
  }
}

.footer {
  &__wrapper {
    max-width: 1140px;
    margin: auto;
  }

  &__title {
    text-align: center;
    font-size: 32px;
    font-weight: 300;
    line-height: 48px;
    letter-spacing: -0.03em;
    color: $denim;
  }

  &__menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    gap: 22px;
    margin-top: 71px;

    &-item {
      text-align: center;
      font-family: $ffoxygen;
      font-size: 24px;
      line-height: 30px;
      letter-spacing: -0.035em;
      transition: $duration-fast ease-in-out;
      cursor: pointer;

      &:hover {
        color: $boulder;
      }
    }
  }

  &__rights {
    margin-top: 90px;
    text-align: center;
    font-family: $ffoxygen;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -0.035em;
    color: rgba(70, 81, 99, .7);
  }
}

@media only screen and (min-width: $bp-lg) and (max-width: $bp-xxl) {
  .footer__wrapper {
    max-width: 960px;
  }
}

@media only screen and (min-width: $bp-md) and (max-width: $bp-lg) {
  .footer__wrapper {
    padding: 0 24px;
  }
}

@media only screen and (max-width: $bp-md) {
  .footer {
    &__wrapper {
      padding: 0 20px;
    }

    &__menu {
      margin-top: 45px;
    }

    &__rights {
      margin-top: 58px;
      font-size: 20px;
      line-height: 25px;
    }
  }
}

@media only screen and (max-width: $bp-sm) {
  .footer {
    &__title {
      font-size: 24px;
      line-height: 29px;
    }

    &__menu {
      margin-top: 24px;
      gap: 10px;

      &-item {
        font-size: 16px;
        line-height: 20px;
      }
    }

    &__rights {
      margin-top: 24px;
      font-size: 14px;
      line-height: 18px;
    }
  }
}

@media only screen and (max-width: 320px) {
  .footer__menu {
    grid-template-columns: 1fr 1fr;
    gap: 10px 0;
  }
}
