<div class="cases__title">
  <p class="cases__title-label">Our Cases</p>
  <hr class="cases__title-line">
  <p class="cases__title-symbol">O</p>
</div>
<div class="cases__main">
  <p class="cases__active-label">{{activeCase.label}}</p>
  <div class="cases__carousel">
    <ngx-slick-carousel class="carousel"
                        #slickModal="slick-carousel"
                        [config]="options">
      <div ngxSlickItem *ngFor="let image of activeCase.images; trackBy: trackByFn" class="slide">
        <img [src]="'../../../assets/img/cases/' + image" alt="Case image" class="slide-img">
      </div>
    </ngx-slick-carousel>
  </div>
  <div class="cases__list">
    <div class="cases__item" *ngFor="let item of cases">
      <div class="cases__item-label"
           [ngClass]="{'__active': item.label === activeCase.label}"
           (click)="selectCase(item)">
        {{item.label}}
      </div>
      <div class="cases__project" [ngClass]="{'__visible': item.label === activeCase.label}">
        <div class="cases__project-light"></div>
        <p class="cases__project-description">{{activeCase.description}}</p>
        <div class="cases__project-main">
          <p class="cases__project-label">Technologies:</p>
          <p class="cases__project-technologies">
            <span *ngFor="let technology of item.technologies">· {{technology}}</span>
          </p>
        </div>
      </div>
    </div>

  </div>
</div>

