<div class="cases__title">
  <p class="block-title" wbAnimate>Our Cases</p>
  <hr class="line" wbAnimate>
  <p class="cases__title-symbol" [id]="menuIds.Cases">O</p>
</div>
<div class="cases__main">
  <p class="cases__active-label" wbAnimate>{{activeCase.label}}</p>
  <div class="cases__carousel" wbAnimate>
    <ngx-slick-carousel class="carousel"
                        *ngFor="let case of cases"
                        [ngClass]="{
                          '__portrait': case.portrait,
                          '__active': case.id === activeCase.id
                        }"
                        [config]="options">
      <div ngxSlickItem *ngFor="let image of case.images" class="slide">
        <img [src]="'../../../assets/img/cases/' + image" alt="Case image" class="slide-img">
      </div>
    </ngx-slick-carousel>
  </div>
  <div class="cases__list" wbAnimate>
    <div class="cases__item" *ngFor="let item of cases">
      <div class="cases__item-label"
           [ngClass]="{
              '__active': item.selected,
              '__collapsed': item.collapsed
            }"
           (click)="selectCase(item)">
        <span class="cases__item-label-wrapper">
          {{item.label}}
          <i *ngIf="item.selected" class="icon-arrow-down cases__item-label-icon"></i>
        </span>
      </div>
      <div class="cases__project" [ngClass]="{'__visible': item.selected && item.collapsed}">
        <div class="cases__project-light"></div>
        <p class="cases__project-description">{{item.description}}</p>
        <div class="cases__project-main">
          <p class="cases__project-label">Technologies:</p>
          <div class="cases__project-technologies">
            <p *ngFor="let technology of item.technologies">· {{technology}}</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

