@import '../../../assets/scss/variables';

:host {
  display: block;
  width: 100%;
  margin-top: 178px;

  @media only screen and (max-width: $bp-md) {
    margin-top: 146px;
  }
}

.cases {
  &__title {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    margin-bottom: 20px;

    .line {
      flex-grow: 1;
    }

    &-symbol {
      position: absolute;
      top: 50%;
      left: -100px;
      transform: translateY(-55%);
      font-size: 400px;
      color: rgba(132, 222, 130, .25);
      z-index: 2;
    }
  }

  &__active-label {
    text-align: center;
    font-size: 34px;
    font-weight: 300;
    line-height: 51px;
    letter-spacing: -0.03em;
    color: $mine-shaft;
  }

  &__carousel {
    position: relative;
    width: 100%;
    z-index: 3;
  }

  &__list {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, calc(25% - 6px));
    gap: 3px 8px;
    margin-top: -95px;
    z-index: 3;
  }

  &__item {
    &:nth-child(2) .cases__project {
      transform: translateX(calc(-1 * (25% + 2px)));
    }

    &:nth-child(3) .cases__project {
      transform: translateX(calc(-1 * (50% + 4px)));
    }

    &:last-child .cases__project {
      transform: translateX(calc(-1 * (75% + 6px)));
    }

    &-label {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 55px;
      background: linear-gradient(360deg, $alto 0%, $white 100%);
      font-size: 24px;
      font-weight: 300;
      line-height: 36px;
      letter-spacing: -0.03em;
      color: $mine-shaft;
      transition: $duration-fast ease-in-out;
      box-sizing: border-box;
      cursor: pointer;

      &-wrapper {
        position: relative;
      }

      &-icon {
        position: absolute;
        top: 50%;
        right: -20px;
        transform: translateY(-50%);
        font-size: 11px;
        color: $boulder;
        transition: transform $duration-fast ease-in-out;
      }

      &.__active {
        border: 1px solid $goblin;
      }

      &.__collapsed .cases__item-label-icon {
        transform: translateY(-50%) rotate(180deg);
      }

      &:hover {
        box-shadow: 5px 3px 10px 4px rgba(124, 133, 148, .21);
      }
    }
  }

  &__project {
    position: relative;
    max-height: 0;
    width: calc(400% + 24px);
    background-color: $cararra;
    box-shadow: inset 6px 3px 7px rgba(0, 0, 0, .25);
    overflow: hidden;

    &.__visible {
      max-height: 700px;
    }

    &-light {
      position: absolute;
      inset: 0 auto 0 0;
      width: 4px;
      background-color: $spring-rain;
      border-radius: 27px;
      transform: matrix(-1, 0, 0, 1, 0, 0);
    }

    &-description {
      position: relative;
      padding: 19px;
      text-align: center;
      font-size: 16px;
      font-weight: 300;
      line-height: 24px;
      border-bottom: 1px solid $french-gray;
      z-index: 3;
    }

    &-main {
      padding: 9px 0 19px;
    }

    &-label {
      text-align: center;
      margin-bottom: 15px;
      font-size: 24px;
      font-weight: 300;
      line-height: 36px;
      letter-spacing: -0.03em;
      color: $mine-shaft;
    }

    &-technologies {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 10px 24px;
      padding: 0 19px;
      text-align: center;
      font-size: 16px;
      font-weight: 300;
      line-height: 24px;
    }
  }
}

@media only screen and (max-width: $bp-xl) {
  .cases {
    &__title {
      .block-title {
        margin-left: 70px;
      }

      &-symbol {
        left: 0;
        font-size: 300px;
      }
    }
  }
}

@media only screen and (max-width: $bp-md) {
  .cases {
    &__title {
      flex-direction: column;
      align-items: flex-end;
      gap: 0;

      .block-title {
        width: calc(100% - 35px);
        text-align: left;
      }

      .line {
        width: calc(100% - 35px);
      }

      &-symbol {
        left: -33px;
        transform: translateY(-52%);
      }
    }

    &__carousel {
      width: calc(100vw - 1px);
      left: -20px;
    }

    &__list {
      grid-template-columns: repeat(2, calc(50% - 2px));
    }

    &__item {
      &:nth-child(odd) .cases__project {
        transform: translateX(0);
      }

      &:nth-child(even) .cases__project {
        transform: translateX(calc(-1 * (50% + 4px)));
      }
    }

    &__project {
      width: calc(200% + 8px);
    }
  }
}

@media only screen and (max-width: $bp-sm) {
  .cases {
    &__title-symbol {
      font-size: 200px;
      left: -5px;
      transform: translateY(-58%);
    }

    &__active-label {
      font-size: 20px;
      line-height: 30px;
    }

    &__item-label {
      height: 29px;
      font-size: 16px;
      line-height: 24px;

      &-icon {
        font-size: 8px;
      }
    }

    &__project-label {
      font-size: 16px;
      line-height: 24px;
    }

    &__project-description,
    &__project-technologies {
      font-size: 12px;
      line-height: 18px;
    }

    &__project-technologies {
      gap: 6px 24px;
    }
  }
}
